@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

#title {
  font-size: 50px;
  font-family: "Press Start 2P", monospace;
  font-weight: normal;
  text-align: center;
  color: #333;
  margin: 0;
  padding: 20px 0;
}
#score {
  font-family: "Press Start 2P", monospace;
  font-size: 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

#score > div:first-child {
  text-align: left;
}
#score > div:nth-child(2) {
  text-align: center;
}
#score > div:last-child {
  text-align: right;
}
